In [ ]:
## Q1. Write a code to reverse a string

In [ ]:
def reverse_string(input_string):
    return input_string[::-1]

original_string = "Hello, World!"
reversed_string = reverse_string(original_string)
print("Original String:", original_string)
print("Reversed String:", reversed_string)

Original String: Hello, World!
Reversed String: !dlroW ,olleH

In [ ]:
## Q2. write a code to count the number of vowels in a string.

In [ ]:
def vowel_count(str):
    count = 0
    vowel = set("aeiouAEIOU")
    for alphabet in str:
        if alphabet in vowel:
            count = count + 1

    print("No. of vowels :", count)
str = "PythonProgramming"
vowel_count(str)

No. of vowels : 4

In [ ]:
## Q3. Write a code to check if a given string is a palindrome or not.

In [ ]:
def is_palindrome(input_string):
    input_string = input_string.replace(" ", "").lower()
    return input_string == input_string[::-1]
input_string = "A man, a plan, a canal, Panama"
result = is_palindrome(input_string)
if result:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

In [ ]:
## Q4. write a code to check if two strings are anagrams of each other.

In [ ]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

In [ ]:
## Q5. Write a code to find all occurrences of given substring within another string.

In [ ]:
def find_all_occurrences(main_string, sub_string):
    occurrences = []
    start_index = 0

    while True:
        index = main_string.find(sub_string, start_index)
        if index == -1:
            break
        occurrences.append(index)
        start_index = index + 1

    return occurrences
main_string = "hello, hello, world, hello"
sub_string = "hello"
print("Occurrences of '{}' in '{}':".format(sub_string, main_string))
print(find_all_occurrences(main_string, sub_string))

Occurrences of 'hello' in 'hello, hello, world, hello':
[0, 7, 21]

In [ ]:
##  Q6. Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
from itertools import groupby
def encode_str(input_str):
    return [(len(list(n)), m) for m,n in groupby(input_str)]

str1 = "AAASSSSKKIOOOORRRREEETTTTAAAABBBBBBDDDDD"
print("Original string:")
print(str1)
print("Result:")
print(encode_str(str1))

str1 = "jjjjiiiiooooosssnssiiiiwwwweeeaaaabbbddddkkkklll"
print("\nOriginal string:")
print(str1)
print("Result:")
print(encode_str(str1))

Original string:
AAASSSSKKIOOOORRRREEETTTTAAAABBBBBBDDDDD
Result:
[(3, 'A'), (4, 'S'), (2, 'K'), (1, 'I'), (4, 'O'), (4, 'R'), (3, 'E'), (4, 'T'), (4, 'A'), (6, 'B'), (5, 'D')]

Original string:
jjjjiiiiooooosssnssiiiiwwwweeeaaaabbbddddkkkklll
Result:
[(4, 'j'), (4, 'i'), (5, 'o'), (3, 's'), (1, 'n'), (2, 's'), (4, 'i'), (4, 'w'), (3, 'e'), (4, 'a'), (3, 'b'), (4, 'd'), (4, 'k'), (3, 'l')]

In [ ]:
## Q7. write a program to determine if string has all unique characters

In [ ]:
def has_unique_characters(input_string):
    seen_characters = set()

    for char in input_string:
        if char in seen_characters:
            return False
        seen_characters.add(char)

    return True
input_string = "abcdefg"
if has_unique_characters(input_string):
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

In [ ]:
## Q8. write a code to convert a given string to uppercase or lowercase.

In [ ]:
def convert_to_uppercase(input_string):
    return input_string.upper()

def convert_to_lowercase(input_string):
    return input_string.lower()
input_string = "Hello, World!"
uppercased_string = convert_to_uppercase(input_string)
lowercased_string = convert_to_lowercase(input_string)

print("Original String:", input_string)
print("Uppercased String:", uppercased_string)
print("Lowercased String:", lowercased_string)

Original String: Hello, World!
Uppercased String: HELLO, WORLD!
Lowercased String: hello, world!

In [ ]:
## Q9. Write a code to count the number of words in a string

In [ ]:
def count_words(input_string):
    words = input_string.split()
    return len(words)
input_string = "Hello, how are you?"
num_words = count_words(input_string)
print("Number of words in the string:", num_words)

Number of words in the string: 4

In [ ]:
## Q10. Write a code to concatenate two string without usng the +operator.

In [ ]:
def concatenate_strings(string1, string2):
    return "%s%s" % (string1, string2)
string1 = "Hello, "
string2 = "world!"
concatenated_string = concatenate_strings(string1, string2)
print("Concatenated string:", concatenated_string)

Concatenated string: Hello, world!

In [ ]:
## Q11. write a code to remove all occurrence of specific element from a list

In [ ]:
def remove_element(lst, element):
    while element in lst:
        lst.remove(element)
    return lst
original_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
new_list = remove_element(original_list, element_to_remove)
print("Original List:", original_list)
print("Element to Remove:", element_to_remove)
print("List after removing element:", new_list)

Original List: [1, 3, 4, 5]
Element to Remove: 2
List after removing element: [1, 3, 4, 5]

In [ ]:
## Q12. implement a code to find the second largest number in a given list of integers.

In [ ]:
def find_second_largest(numbers):
    sorted_numbers = sorted(numbers)
    return sorted_numbers[-2]
numbers = [10, 20, 15, 30, 25]
second_largest = find_second_largest(numbers)
print("Second largest number:", second_largest)

Second largest number: 25

In [ ]:
## Q13. create a code to count the occurrence of each element in a list and return a dictionary keys and their count as values.

In [ ]:
def count_occurrences(lst):
    occurrences = {}

    for item in lst:
        if item in occurrences:
            occurrences[item] += 1
        else:
            occurrences[item] = 1

    return occurrences
my_list = [1, 2, 3, 4, 2, 3, 1, 2, 5]
occurrences_dict = count_occurrences(my_list)
print("Occurrences of each element:")
print(occurrences_dict)

Occurrences of each element:
{1: 2, 2: 3, 3: 2, 4: 1, 5: 1}

In [ ]:
## Q14.write a code to reverse a list in place without using any built in reverse function.

In [ ]:
def reverse_list_in_place(lst):
    start_index = 0
    end_index = len(lst) - 1

    while start_index < end_index:
        lst[start_index], lst[end_index] = lst[end_index], lst[start_index]
        start_index += 1
        end_index -= 1
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)
reverse_list_in_place(my_list)
print("Reversed List:", my_list)

Original List: [1, 2, 3, 4, 5]
Reversed List: [5, 4, 3, 2, 1]

In [ ]:
## Q15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
def remove_duplicates_preserve_order(lst):
    seen = set()
    unique_elements = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            unique_elements.append(item)

    return unique_elements
original_list = [1, 2, 3, 1, 4, 2, 5, 6, 4]
unique_elements = remove_duplicates_preserve_order(original_list)
print("Original List:", original_list)
print("List with duplicates removed while preserving order:", unique_elements)

Original List: [1, 2, 3, 1, 4, 2, 5, 6, 4]
List with duplicates removed while preserving order: [1, 2, 3, 4, 5, 6]

In [ ]:
## Q16. create a code to check if a given list is sorted (either A or D) or Not.

In [ ]:
def is_sorted(lst):
    if all(lst[i] <= lst[i+1] for i in range(len(lst)-1)):
        return "Ascending"
    elif all(lst[i] >= lst[i+1] for i in range(len(lst)-1)):
        return "Descending"
    else:
        return "Not Sorted"
ascending_list = [1, 2, 3, 4, 5]
descending_list = [5, 4, 3, 2, 1]
unsorted_list = [3, 2, 5, 1, 4]

print("Ascending List:", is_sorted(ascending_list))
print("Descending List:", is_sorted(descending_list))
print("Unsorted List:", is_sorted(unsorted_list))

Ascending List: Ascending
Descending List: Descending
Unsorted List: Not Sorted

In [ ]:
## Q17. write a code to merge two sorted lists into a single sorted lists.

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = 0
    j = 0

    while i < len(list1) and j < len(list2):
        if list1[i] <= list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]
merged_list = merge_sorted_lists(list1, list2)
print("Merged Sorted List:", merged_list)

Merged Sorted List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
##Q18 Implement a code to find the intersection of two given lists.

In [ ]:
def intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersect = set1 & set2
    intersect_list = list(intersect)

    return intersect_list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print(intersection(list1, list2))

[4, 5]

In [ ]:
##Q19 create a code to find the union of two lists without duplicates.

In [ ]:
def union(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    union_set = set1 | set2
    union_list = list(union_set)

    return union_list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print(union(list1, list2))

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
##Q20 write a code to shuffle a given list randomly without using any built in shuffle function.

In [ ]:
import random

def shuffle_list(lst):
    for i in range(len(lst) - 1, 0, -1):
        j = random.randint(0, i)
        lst[i], lst[j] = lst[j], lst[i]

    return lst
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[5, 1, 2, 3, 4]

In [ ]:
##Q21. write a code that takes two tuples as input and return a new tuple containing element that are common to both input tuples.

In [ ]:
def common_elements(tuple1, tuple2):
    set1 = set(tuple1)
    set2 = set(tuple2)
    common_set = set1.intersection(set2)
    common_tuple = tuple(common_set)

    return common_tuple
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result_tuple = common_elements(tuple1, tuple2)
print(result_tuple)

(4, 5)

In [ ]:
##Q22 create a code that prompt the user to enter two sets of integers separated by common. then , print the intersection of these two sets.

In [ ]:
def get_set_from_input():
    input_str = input("Enter a set of integers separated by commas: ")
    integer_list = [int(x) for x in input_str.split(',')]
    return set(integer_list)

def main():
    print("Enter the first set of integers:")
    set1 = get_set_from_input()

    print("\nEnter the second set of integers:")
    set2 = get_set_from_input()
    intersection_set = set1.intersection(set2)

    print("\nThe intersection of the two sets is:", intersection_set)

if __name__ == "__main__":
    main()

Enter the first set of integers:
Enter a set of integers separated by commas: 1,2

Enter the second set of integers:
Enter a set of integers separated by commas: 5,6

The intersection of the two sets is: set()

In [ ]:
##Q23 Write a code to concatenate two tuples. the function should take two tuples as input and return a new tuple containing element from both input tuples.

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    concatenated_list = list(tuple1) + list(tuple2)
    concatenated_tuple = tuple(concatenated_list)

    return concatenated_tuple
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result_tuple = concatenate_tuples(tuple1, tuple2)
print(result_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
##Q24 Develop a code that prompts the user to input two sets of string. Then, print the element that are present in the first set but not in the second set.

In [ ]:
def get_set_from_input():
    input_str = input("Enter a set of strings separated by commas: ")
    string_list = input_str.split(',')
    return set(string_list)

def main():
    print("Enter the first set of strings:")
    set1 = get_set_from_input()

    print("\nEnter the second set of strings:")
    set2 = get_set_from_input()
    difference_set = set1 - set2

    print("\nElements present in the first set but not in the second set:", difference_set)

if __name__ == "__main__":
    main()

Enter the first set of strings:
Enter a set of strings separated by commas: hdcbb6516

Enter the second set of strings:
Enter a set of strings separated by commas: jabceubiu61681

Elements present in the first set but not in the second set: {'hdcbb6516'}

In [ ]:
##Q25. create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [ ]:
def slice_tuple(original_tuple, start_index, end_index):
    sliced_tuple = original_tuple[start_index:end_index + 1]
    return tuple(sliced_tuple)
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
start_index = 2
end_index = 5
result_tuple = slice_tuple(original_tuple, start_index, end_index)
print(result_tuple)

(3, 4, 5, 6)

In [ ]:
## Q26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [ ]:
def get_set_from_input():
    input_str = input("Enter a set of characters: ")
    char_set = set(input_str)
    return char_set

def main():
    print("Enter the first set of characters:")
    set1 = get_set_from_input()

    print("\nEnter the second set of characters:")
    set2 = get_set_from_input()
    union_set = set1.union(set2)

    print("\nThe union of the two sets is:", union_set)

if __name__ == "__main__":
    main()

Enter the first set of characters:
Enter a set of characters: simran

Enter the second set of characters:
Enter a set of characters: kanhiyya

The union of the two sets is: {'k', 'm', 'r', 'h', 's', 'n', 'i', 'y', 'a'}

In [ ]:
##Q27 Develop a code that takes a tuple of integers as input. The function should return maximum and minimum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(input_tuple):
    max_val = max(input_tuple)
    min_val = min(input_tuple)
    return max_val, min_val
input_tuple = (3, 1, 7, 2, 8, 4, 5)
max_val, min_val = find_max_min(input_tuple)
print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 8
Minimum value: 1

In [ ]:
##Q28 create a code that define two sets of integers. Then, Print the union, intersection and difference of these two sets.

In [ ]:
def main():
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}
    print("Set 1:", set1)
    print("Set 2:", set2)
    print("\nUnion of Set 1 and Set 2:", set1.union(set2))
    print("Intersection of Set 1 and Set 2:", set1.intersection(set2))
    print("Difference of Set 1 - Set 2:", set1.difference(set2))
    print("Difference of Set 2 - Set 1:", set2.difference(set1))

if __name__ == "__main__":
    main()

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}

Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of Set 1 and Set 2: {4, 5}
Difference of Set 1 - Set 2: {1, 2, 3}
Difference of Set 2 - Set 1: {8, 6, 7}

In [ ]:
##Q29 Write a code that takes a tuple and an element as input.The function should return the count of occurance of given element in the tuple.

In [ ]:
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)
input_tuple = (1, 2, 3, 4, 4, 5,4,4)
element = 4
occurrences = count_occurrences(input_tuple, element)
print("Number of occurrences of", element, "in the tuple:", occurrences)

Number of occurrences of 4 in the tuple: 4

In [ ]:
##30 Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [ ]:
def get_set_from_input():
    input_str = input("Enter a set of strings separated by commas: ")
    string_list = input_str.split(',')
    return set(string_list)

def main():
    print("Enter the first set of strings:")
    set1 = get_set_from_input()

    print("\nEnter the second set of strings:")
    set2 = get_set_from_input()
    sym_diff_set = set1.symmetric_difference(set2)

    print("\nThe symmetric difference of the two sets is:", sym_diff_set)

if __name__ == "__main__":
    main()

Enter the first set of strings:
Enter a set of strings separated by commas: a,s,d,f,g

Enter the second set of strings:
Enter a set of strings separated by commas: s,f,g,h,t,o

The symmetric difference of the two sets is: {'o', 'd', 't', 'h', 'a'}

In [ ]:
##Q31 write a code that makes a list of words as input and returns a dictionary where the keys are the unique words and the values are the frequencies of those words in the input list.

In [ ]:
def word_frequency(input_list):
    word_freq_dict = {}
    for word in input_list:
        if word in word_freq_dict:
            word_freq_dict[word] += 1
        else:
            word_freq_dict[word] = 1
    return word_freq_dict
input_list = ["apple", "banana", "apple", "orange", "banana", "banana"]
result_dict = word_frequency(input_list)
print("Word frequency dictionary:", result_dict)

Word frequency dictionary: {'apple': 2, 'banana': 3, 'orange': 1}

In [ ]:
##Q32 Write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys, the values should be added together.

In [ ]:
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict
dict1 = {"apple": 2, "banana": 3, "orange": 1}
dict2 = {"banana": 1, "kiwi": 4, "orange": 2}
result_dict = merge_dicts(dict1, dict2)
print("Merged dictionary:", result_dict)

Merged dictionary: {'apple': 2, 'banana': 4, 'orange': 3, 'kiwi': 4}

In [ ]:
##Q33. write a code to access a value in nested dictionary. The function should take dictionary and a list of keys as input, and return the corresponding value. if any of the keys do not exist in the dictionary the function should return none.

In [ ]:
def access_nested_dict(input_dict, keys):
    current_dict = input_dict
    for key in keys:
        if key in current_dict:
            current_dict = current_dict[key]
        else:
            return None
    return current_dict
nested_dict = {
    'a': {
        'b': {
            'c': 1,
            'd': 2
        },
        'e': {
            'f': 3
        }
    }
}
keys = ['a', 'b', 'd']
value = access_nested_dict(nested_dict, keys)
print("Value:", value)

Value: 2

In [ ]:
##Q34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. you can choose whether to sort in ascending or descending order.

In [ ]:
def sort_dict_by_values(input_dict, reverse=False):
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=reverse))
    return sorted_dict
input_dict = {"apple": 5, "banana": 3, "orange": 7, "kiwi": 2}
sorted_dict_asc = sort_dict_by_values(input_dict)
sorted_dict_desc = sort_dict_by_values(input_dict, reverse=True)

print("Sorted dictionary (ascending order):", sorted_dict_asc)
print("Sorted dictionary (descending order):", sorted_dict_desc)

Sorted dictionary (ascending order): {'kiwi': 2, 'banana': 3, 'apple': 5, 'orange': 7}
Sorted dictionary (descending order): {'orange': 7, 'apple': 5, 'banana': 3, 'kiwi': 2}

In [ ]:
##Q35 Write a code that inverts a dictionary, swapping keys and value. Ensure that the inverted dictionary correctly handles cases where multiple keys as a list in the inverted dictionary.

In [ ]:
from collections import defaultdict

def invert_dictionary(input_dict):
    inverted_dict = defaultdict(list)
    for key, value in input_dict.items():
        inverted_dict[value].append(key)
    return dict(inverted_dict)
input_dict = {"a": 1, "b": 2, "c": 1, "d": 3}
inverted_dict = invert_dictionary(input_dict)
print("Inverted dictionary:", inverted_dict)

Inverted dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}